html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.col-aside {
  padding: 0;
}

.map,
.col-aside {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.marker-list {
  overflow-y: auto;
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-radius: 0;
  border-top: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.search-in,
.search-btn {
  border-radius: 0;
}
