html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.col-aside {
  padding: 0;
}

.map,
.col-aside {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.search-in,
.search-btn {
  border-radius: 0;
}

.overflow {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  font-size: 0.9em;
}

.marker-list {
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-radius: 0;
  border-top: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.info {
  height: 100%;
  border-radius: 0;
  border-top: 0;
  margin-bottom: 0;
}

.api-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
}

.list-places {
  padding-left: 0;
  list-style: none;
}

.list-places-item {
  cursor: pointer;
}

.list-places-item:hover {
  color: #00f;
}

.photo {
  position: relative;
  margin: 0;
  padding: 0;
}

.photo-img {
  width: 100%;
  border: 0;
}

.flickr {
  position: absolute;
  top: calc(100% - 32px);
  left: calc(100% - 65px);
}
